ebonding_osb_app/OBS_INC/Resources/WSDL/PH_B2B_EPH_TRILLIUM_TroubleTicket_source_services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdns1="http://eai/Sav/Trillium/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="PH_B2B_EPH_TRILLIUM_TroubleTicket_source_services" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:dx="http://eai/Sav/Trillium/Types" targetNamespace="http://eai/Sav/Trillium/Types">
      <xsd:element name="TRANSACTION">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TRANSACTION_TYPE" type="xsd:string" />
            <xsd:element minOccurs="0" name="REC_TYPE" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="SR_ID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="EXTERNAL_ID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="INTERFACE" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="SUMMARY" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="SEVERITY" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="STATUS" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="CATEGORY" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="GROUP" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="LOCATION" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="CUSTOMER" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="LAST_NAME" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="MIDDLE_NAME" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="EMAIL_ADDRESS" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="PRIMARY_CI" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ASSET_TAG" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SECONDARY_CI" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ASSET_TAG" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="UPDATE_INFO" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="UPDATE_FIELD" nillable="true">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" name="FIELD_NAME" nillable="true" type="xsd:string" />
                        <xsd:element minOccurs="0" name="FIELD_VALUE" nillable="true" type="xsd:string" />
                        <xsd:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SLA_VIOLATION" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="ACT_LOG" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="ACT_TYPE" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="REPORT_TYPES" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="UPDATED_BY" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="LAST_NAME" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="MIDDLE_NAME" nillable="true" type="xsd:string" />
                  <xsd:element minOccurs="0" name="EMAIL_ADDRESS" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="NCC" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="IMPACT" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="URGENCY" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="ID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="REPORT_METHOD" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="CUSTOMER_LOC" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="INITIAL_TIME" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="TIME_STAMP" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="OPEN_DATE" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="SYMPTOM" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RESPONSE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="STATUS" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="ERROR_DESCRIPTION" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:tns="http://localhost/PH_B2B_EPH_TRILLIUM/TroubleTicket/source/services/handleTT" xmlns:dx="http://eai/Sav/Trillium/Types" targetNamespace="http://localhost/PH_B2B_EPH_TRILLIUM/TroubleTicket/source/services/handleTT">
      <xsd:import namespace="http://eai/Sav/Trillium/Types" />
      <xsd:complexType name="TransactionTrillium">
        <xsd:sequence>
          <xsd:element ref="dx:TRANSACTION" />
          <xsd:any processContents="lax" />
        </xsd:sequence>
        <xsd:anyAttribute processContents="lax" />
      </xsd:complexType>
      <xsd:complexType name="ResponseTrillium">
        <xsd:sequence>
          <xsd:element ref="dx:RESPONSE" />
          <xsd:any processContents="lax" />
        </xsd:sequence>
        <xsd:anyAttribute processContents="lax" />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="handleTT">
    <wsdl:part name="TRANSACTION" element="wsdns1:TRANSACTION" />
  </wsdl:message>
  <wsdl:message name="handleTTOutput">
    <wsdl:part name="RESPONSE" element="wsdns1:RESPONSE" />
  </wsdl:message>
  <wsdl:portType name="PH_B2B_EPH_TRILLIUM_TroubleTicket_source_servicesPortType">
    <wsdl:operation name="handleTT">
      <wsdl:input message="tns:handleTT" />
      <wsdl:output message="tns:handleTTOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PH_B2B_EPH_TRILLIUM_TroubleTicket_source_servicesBinding" type="tns:PH_B2B_EPH_TRILLIUM_TroubleTicket_source_servicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="handleTT">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PH_B2B_EPH_TRILLIUM_TroubleTicket_source_servicesService">
    <wsdl:port name="PH_B2B_EPH_TRILLIUM_TroubleTicket_source_servicesPort0" binding="tns:PH_B2B_EPH_TRILLIUM_TroubleTicket_source_servicesBinding">
      <soap:address location="http://localhost:5555/soap/TrilliumTTHandling" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>