ebonding_osb_app/OBS_INC/Resources/WSDL/ServiceHubInboundWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="processTransaction">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="transactionData" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="processTransactionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="processTransactionResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="processTransactionSoapIn">
		<wsdl:part name="parameters" element="tns:processTransaction"/>
	</wsdl:message>
	<wsdl:message name="processTransactionSoapOut">
		<wsdl:part name="parameters" element="tns:processTransactionResponse"/>
	</wsdl:message>
	<wsdl:portType name="Service1Soap">
		<wsdl:operation name="processTransaction">
			<wsdl:input message="tns:processTransactionSoapIn"/>
			<wsdl:output message="tns:processTransactionSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Service1Soap" type="tns:Service1Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="processTransaction">
			<soap:operation soapAction="http://tempuri.org/processTransaction" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service1">
		<wsdl:port name="Service1Soap" binding="tns:Service1Soap">
			<soap:address location="http://localhost/TransactionService/ifaceinbound.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>