ebonding_osb_app/OBS_INC/Resources/Schemas/OBS_INC_ClarifySchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="processTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="s">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TRANSACTION">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TRANSACTION_TYPE"/>
                    <xs:element type="xs:string" name="REC_TYPE"/>
                    <xs:element type="xs:string" name="TRANSACTION_ID"/>
                    <xs:element type="xs:string" name="SR_ID"/>
                    <xs:element type="xs:string" name="EXTERNAL_ID"/>
                    <xs:element type="xs:string" name="INTERFACE"/>
                    <xs:element type="xs:string" name="DESCRIPTION"/>
                    <xs:element type="xs:string" name="SUMMARY"/>
                    <xs:element type="xs:string" name="SEVERITY"/>
                    <xs:element type="xs:string" name="STATUS"/>
                    <xs:element type="xs:string" name="CATEGORY"/>
                    <xs:element type="xs:string" name="RESPONSIBLE_PARTY"/>
                    <xs:element type="xs:string" name="VNDR_REF_NUM"/>
                    <xs:element type="xs:string" name="VNDR_DISP_TIME"/>
                    <xs:element type="xs:string" name="VNDR_RES_TIME"/>
                    <xs:element type="xs:string" name="GROUP"/>
                    <xs:element type="xs:string" name="LOCATION"/>
                    <xs:element name="CUSTOMER">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="LAST_NAME"/>
                          <xs:element type="xs:string" name="FIRST_NAME"/>
                          <xs:element type="xs:string" name="MIDDLE_NAME"/>
                          <xs:element type="xs:string" name="EMAIL_ADDRESS"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PRIMARY_CI">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ASSET_TAG"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SECONDARY_CI">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ASSET_TAG"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UPDATE_INFO">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="UPDATE_FIELD">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="FIELD_NAME"/>
                                <xs:element type="xs:string" name="FIELD_VALUE"/>
                                <xs:element type="xs:string" name="DESCRIPTION"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="SLA_VIOLATION"/>
                    <xs:element name="ACT_LOG">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="DESCRIPTION"/>
                          <xs:element type="xs:string" name="ACT_TYPE"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="REPORT_TYPES"/>
                    <xs:element name="UPDATED_BY">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="LAST_NAME"/>
                          <xs:element type="xs:string" name="FIRST_NAME"/>
                          <xs:element type="xs:string" name="MIDDLE_NAME"/>
                          <xs:element type="xs:string" name="EMAIL_ADDRESS"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="NCC"/>
                    <xs:element type="xs:string" name="IMPACT"/>
                    <xs:element type="xs:string" name="URGENCY"/>
                    <xs:element type="xs:string" name="ID"/>
                    <xs:element type="xs:string" name="REPORT_METHOD"/>
                    <xs:element type="xs:string" name="CUSTOMER_LOC"/>
                    <xs:element type="xs:string" name="INITIAL_TIME"/>
                    <xs:element type="xs:string" name="TIME_STAMP"/>
                    <xs:element type="xs:string" name="OPEN_DATE"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
