ebonding_osb_app/SN_INC/Resources/WSDLs/Provider/SNPartner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.service-now.com/Sita_inbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.service-now.com/Sita_inbound">
	<wsdl:types>
		<xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.service-now.com/Sita_inbound">
			<xsd:element name="execute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="source_interface" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="transaction_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="rec_type" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="customer_interface" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="supplier_interface" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="ticket_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="short_description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="subcategory" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="cemail_address" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="cfirst_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="cmiddle_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="clast_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="cphone_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="cust_ref_num" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sup_ref_num" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sup_comments" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="estimated_time" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="actual_fix_time" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="actual_tech_arrival" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="additional_comments" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="time_spent" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="travel_time" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="open_date" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="business_service" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="automation_reroute" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sd_owner_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="report_method" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="issue" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="error_code" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="downtime_end_time" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="atd" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="element_ci_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="transaction_type" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="executeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="ticket_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="error" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="transaction_status" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="msg" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="executeSoapIn">
		<wsdl:part name="Sita_inbound" element="tns:execute"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeSoapOut">
		<wsdl:part name="Sita_inbound" element="tns:executeResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceNowSoap">
		<wsdl:operation name="execute">
			<wsdl:input message="tns:executeSoapIn"> </wsdl:input>
			<wsdl:output message="tns:executeSoapOut"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute">
			<soap:operation soapAction="http://www.service-now.com/Sita_inbound/execute" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceNow_Sita_inbound">
		<wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
			<soap:address location="https://sitaitsmsdev.service-now.com/Sita_inbound.do?SOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>