ebonding_osb_app/Common/Resources/WSDLs/Getrecords.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.service-now.com/incident" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.service-now.com/incident">
<wsdl:types>
<xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.service-now.com/incident">
<xsd:element name="getKeys">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="activity_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="additional_assignee_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_history" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_set" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_service" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caller_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caused_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="child_incidents" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments_and_work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="contact_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_display" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_plan" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_task" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="escalation" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expected_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="follow_up" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="group_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="hold_reason" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="incident_state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="knowledge" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="made_sla" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="notify" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent_incident" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="problem_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reassignment_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopen_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rfc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="severity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="short_description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skills" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sla_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="subcategory" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="task_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="time_worked" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_fix_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_arrival" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_off_site" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_asp_fe_ratings" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_assign_on_insert" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_trigger" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_triggered" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_automation_reroute" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_billable" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_calc_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_caused_by_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ci_bar_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_created_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_cst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_data_wipe" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_email_triggered" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_expected_arrival_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcr" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcrc" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_dispatch_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_date_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_ref" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_requested_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_flag" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_hle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_initial_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_intervention_summary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_issue" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_last_updated_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_approval" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mir_report" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mttr" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_new_proposed_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_change_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_proposed_as_critical" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_reference_ticket_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_requesting_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_resp_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_responsible_party" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_rst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_service_desk_owner" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_situation_reaction_team" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_percentage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_result" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_schedule" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_srt_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_stakeholders" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_survey_email_address" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_time_on_site_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_travel_time_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_updated_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_dispatch" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_resolve" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_ticket" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_reject" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="user_input" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="watch_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__encoded_query" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__limit" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__first_row" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__last_row" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getKeysResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="get">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="activity_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="additional_assignee_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_set" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_service" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caller_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caused_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="child_incidents" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments_and_work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="contact_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_display" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_plan" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_task" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="escalation" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expected_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="follow_up" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="group_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="hold_reason" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="incident_state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="knowledge" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="made_sla" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="notify" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent_incident" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="problem_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reassignment_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopen_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rfc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="severity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="short_description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skills" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sla_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="subcategory" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="task_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="time_worked" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_fix_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_arrival" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_off_site" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_asp_fe_ratings" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_assign_on_insert" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_trigger" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_triggered" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_automation_reroute" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_billable" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_calc_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_caused_by_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ci_bar_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_created_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_cst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_data_wipe" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_email_triggered" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_expected_arrival_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcr" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcrc" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_dispatch_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_date_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_ref" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_requested_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_flag" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_hle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_initial_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_intervention_summary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_issue" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_last_updated_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_approval" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mir_report" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mttr" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_new_proposed_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_change_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_proposed_as_critical" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_reference_ticket_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_requesting_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_resp_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_responsible_party" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_rst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_service_desk_owner" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_situation_reaction_team" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_percentage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_result" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_schedule" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_srt_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_stakeholders" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_survey_email_address" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_time_on_site_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_travel_time_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_updated_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_dispatch" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_resolve" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_ticket" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_reject" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="user_input" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="watch_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_start" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getRecords">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="activity_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="additional_assignee_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_history" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_set" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_service" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caller_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caused_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="child_incidents" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments_and_work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="contact_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_display" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_plan" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_task" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="escalation" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expected_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="follow_up" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="group_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="hold_reason" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="incident_state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="knowledge" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="made_sla" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="notify" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent_incident" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="problem_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reassignment_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopen_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rfc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="severity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="short_description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skills" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sla_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="subcategory" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="task_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="time_worked" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_fix_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_arrival" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_off_site" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_asp_fe_ratings" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_assign_on_insert" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_trigger" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_triggered" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_automation_reroute" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_billable" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_calc_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_caused_by_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ci_bar_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_created_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_cst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_data_wipe" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_email_triggered" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_expected_arrival_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcr" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcrc" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_dispatch_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_date_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_ref" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_requested_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_flag" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_hle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_initial_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_intervention_summary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_issue" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_last_updated_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_approval" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mir_report" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mttr" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_new_proposed_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_change_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_proposed_as_critical" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_reference_ticket_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_requesting_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_resp_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_responsible_party" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_rst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_service_desk_owner" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_situation_reaction_team" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_percentage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_result" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_schedule" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_srt_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_stakeholders" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_survey_email_address" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_time_on_site_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_travel_time_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_updated_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_dispatch" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_resolve" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_ticket" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_reject" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="user_input" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="watch_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__encoded_query" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__limit" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__first_row" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__last_row" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__order_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__order_by_desc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="__exclude_columns" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getRecordsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="getRecordsResult">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="activity_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="additional_assignee_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_set" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_service" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caller_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caused_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="child_incidents" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments_and_work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="contact_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_display" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_plan" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_task" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="escalation" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expected_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="follow_up" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="group_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="hold_reason" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="incident_state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="knowledge" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="made_sla" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="notify" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent_incident" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="problem_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reassignment_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopen_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rfc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="severity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="short_description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skills" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sla_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="subcategory" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="task_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="time_worked" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_fix_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_arrival" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_off_site" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_asp_fe_ratings" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_assign_on_insert" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_trigger" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_triggered" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_automation_reroute" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_billable" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_calc_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_caused_by_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ci_bar_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_created_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_cst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_data_wipe" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_email_triggered" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_expected_arrival_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcr" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcrc" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_dispatch_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_date_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_ref" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_requested_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_flag" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_hle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_initial_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_intervention_summary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_issue" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_last_updated_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_approval" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mir_report" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mttr" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_new_proposed_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_change_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_proposed_as_critical" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_reference_ticket_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_requesting_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_resp_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_responsible_party" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_rst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_service_desk_owner" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_situation_reaction_team" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_percentage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_result" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_schedule" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_srt_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_stakeholders" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_survey_email_address" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_time_on_site_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_travel_time_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_updated_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_dispatch" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_resolve" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_ticket" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_reject" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="user_input" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="watch_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_start" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="update">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="activity_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="additional_assignee_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_history" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_set" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="business_service" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="caller_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caused_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="child_incidents" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments_and_work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="contact_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_display" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_plan" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_task" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="escalation" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expected_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="follow_up" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="group_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="hold_reason" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="incident_state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="knowledge" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="made_sla" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="notify" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent_incident" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="problem_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reassignment_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopen_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rfc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="severity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="short_description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skills" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sla_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="subcategory" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="task_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="time_worked" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_fix_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_arrival" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_off_site" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_asp_fe_ratings" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_assign_on_insert" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_trigger" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_triggered" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_automation_reroute" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_billable" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_calc_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_caused_by_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ci_bar_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_created_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_cst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_data_wipe" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_email_triggered" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_expected_arrival_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcr" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcrc" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_dispatch_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_date_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_ref" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_requested_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_flag" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_hle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_initial_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_intervention_summary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_issue" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_last_updated_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_approval" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mir_report" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mttr" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_new_proposed_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_change_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_proposed_as_critical" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_reference_ticket_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_requesting_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_resp_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_responsible_party" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_rst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_service_desk_owner" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_situation_reaction_team" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_percentage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_result" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_schedule" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_srt_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_stakeholders" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_survey_email_address" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_time_on_site_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_travel_time_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_updated_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_dispatch" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_resolve" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_ticket" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_reject" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="user_input" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="watch_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_start" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insert">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="activity_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="additional_assignee_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_history" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_set" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="business_service" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="caller_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caused_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="child_incidents" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments_and_work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="contact_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_display" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_plan" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_task" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="escalation" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expected_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="follow_up" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="group_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="hold_reason" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="incident_state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="knowledge" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="made_sla" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="notify" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent_incident" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="problem_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reassignment_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopen_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rfc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="severity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="short_description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skills" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sla_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="1" name="subcategory" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="task_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="time_worked" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_fix_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_arrival" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_off_site" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_asp_fe_ratings" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_assign_on_insert" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_trigger" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_triggered" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_automation_reroute" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_billable" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_calc_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_caused_by_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ci_bar_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_created_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_cst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_data_wipe" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_email_triggered" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_expected_arrival_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcr" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcrc" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_dispatch_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_date_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_ref" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_requested_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_flag" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_hle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_initial_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_intervention_summary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_issue" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_last_updated_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_approval" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mir_report" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mttr" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_new_proposed_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_change_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_proposed_as_critical" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_reference_ticket_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_requesting_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_resp_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_responsible_party" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_rst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_service_desk_owner" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_situation_reaction_team" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_percentage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_result" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_schedule" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_srt_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_stakeholders" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_survey_email_address" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_time_on_site_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_travel_time_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_updated_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_dispatch" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_resolve" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_ticket" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_reject" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="user_input" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="watch_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_start" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="insertResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="number" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteMultiple">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="active" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="activity_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="additional_assignee_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_history" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="approval_set" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assigned_to" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="assignment_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_service" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="business_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_duration" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="calendar_stc" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caller_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="caused_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="child_incidents" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="close_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="closed_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="cmdb_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="comments_and_work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="company" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="contact_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_display" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="correlation_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_plan" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="delivery_task" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="due_date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="escalation" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="expected_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="follow_up" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="group_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="hold_reason" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="impact" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="incident_state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="knowledge" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="location" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="made_sla" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="notify" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="opened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="order" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="parent_incident" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="priority" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="problem_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reassignment_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopen_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="reopened_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_at" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="resolved_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="rfc" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="severity" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="short_description" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="skills" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sla_due" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="subcategory" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_domain_path" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="task_for" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="time_worked" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_fix_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_arrival" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_actual_tech_off_site" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_asp_fe_ratings" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_assign_on_insert" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_trigger" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_auto_closure_triggered" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_automation_reroute" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_billable" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_calc_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_caused_by_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ci_bar_code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_created_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_cst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_data_wipe" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_downtime_start" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_email_triggered" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_escalation_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_expected_arrival_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcr" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fcrc" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fe_dispatch_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_date_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_ref" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_field_dispatch_requested_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_flag" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_fle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_hle_count" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_initial_contact_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_intervention_summary" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_issue" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_last_updated_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_approval" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mim_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mir_report" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_mttr" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_new_proposed_ci" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_ost" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_change_time" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_priority_type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_proposed_as_critical" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_reference_ticket_number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_requesting_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_resp_sla" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_responsible_party" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_rst" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_service_desk_owner" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sh_change" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_situation_reaction_team" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_percentage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_result" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_sla_schedule" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_srt_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_stakeholders" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_comments" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_external_reference" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_supplier_interface" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_survey_email_address" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_time_on_site_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_travel_time_hh_mm_ss" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_updated_from_ui" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_dispatch" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_group" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_resolve" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="u_vendor_ticket" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_approval" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="upon_reject" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="urgency" type="xsd:integer"/>
<xsd:element maxOccurs="1" minOccurs="0" name="user_input" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="watch_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_end" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_notes_list" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="work_start" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteMultipleResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteRecord">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteRecordResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="updateSoapIn">
<wsdl:part name="incident" element="tns:update"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteRecordSoapOut">
<wsdl:part name="incident" element="tns:deleteRecordResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getSoapIn">
<wsdl:part name="incident" element="tns:get"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getKeysSoapOut">
<wsdl:part name="incident" element="tns:getKeysResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteMultipleSoapOut">
<wsdl:part name="incident" element="tns:deleteMultipleResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getKeysSoapIn">
<wsdl:part name="incident" element="tns:getKeys"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getSoapOut">
<wsdl:part name="incident" element="tns:getResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getRecordsSoapIn">
<wsdl:part name="incident" element="tns:getRecords"> </wsdl:part>
</wsdl:message>
<wsdl:message name="insertSoapOut">
<wsdl:part name="incident" element="tns:insertResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteRecordSoapIn">
<wsdl:part name="incident" element="tns:deleteRecord"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteMultipleSoapIn">
<wsdl:part name="incident" element="tns:deleteMultiple"> </wsdl:part>
</wsdl:message>
<wsdl:message name="insertSoapIn">
<wsdl:part name="incident" element="tns:insert"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateSoapOut">
<wsdl:part name="incident" element="tns:updateResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getRecordsSoapOut">
<wsdl:part name="incident" element="tns:getRecordsResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="ServiceNowSoap">
<wsdl:operation name="insert">
<wsdl:input message="tns:insertSoapIn"> </wsdl:input>
<wsdl:output message="tns:insertSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="update">
<wsdl:input message="tns:updateSoapIn"> </wsdl:input>
<wsdl:output message="tns:updateSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteMultiple">
<wsdl:input message="tns:deleteMultipleSoapIn"> </wsdl:input>
<wsdl:output message="tns:deleteMultipleSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getKeys">
<wsdl:input message="tns:getKeysSoapIn"> </wsdl:input>
<wsdl:output message="tns:getKeysSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteRecord">
<wsdl:input message="tns:deleteRecordSoapIn"> </wsdl:input>
<wsdl:output message="tns:deleteRecordSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="get">
<wsdl:input message="tns:getSoapIn"> </wsdl:input>
<wsdl:output message="tns:getSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="getRecords">
<wsdl:input message="tns:getRecordsSoapIn"> </wsdl:input>
<wsdl:output message="tns:getRecordsSoapOut"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="insert">
<soap:operation soapAction="http://www.service-now.com/incident/insert" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="update">
<soap:operation soapAction="http://www.service-now.com/incident/update" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteMultiple">
<soap:operation soapAction="http://www.service-now.com/incident/deleteMultiple" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getKeys">
<soap:operation soapAction="http://www.service-now.com/incident/getKeys" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteRecord">
<soap:operation soapAction="http://www.service-now.com/incident/deleteRecord" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="get">
<soap:operation soapAction="http://www.service-now.com/incident/get" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getRecords">
<soap:operation soapAction="http://www.service-now.com/incident/getRecords" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServiceNow_incident">
<wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
<soap:address location="https://sitaitsmsdev.service-now.com/incident.do?SOAP"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>