ebonding_osb_app/Common/Resources/WSDLs/SendAttachment.wsdl

<wsdl:definitions name="attachment" targetNamespace="http://www.sita.aero/WSDL/AttachmentV1" xmlns:tns="http://www.sita.aero/WSDL/AttachmentV1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:element name="UploadFileRequestMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TransactionId" type="xsd:string"/>
						<xsd:element name="RecType" type="xsd:string"/>
						<xsd:element name="SourceSystem" type="xsd:string"/>
						<xsd:element name="DestinationSystem" type="xsd:string"/>
						<xsd:element minOccurs="0" maxOccurs="1" name="FileType" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="Filename" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="ExternalRefNumber" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UploadFileContent">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Data" type="xsd:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UploadFileResponseMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="Status" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="Description" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="uploadFileRequest">
		<wsdl:part name="UploadFileRequestMessage" element="UploadFileRequestMessage"/>
		<wsdl:part name="UploadFileContent" element="UploadFileContent"/>
	</wsdl:message>
	<wsdl:message name="uploadFileResponse">
		<wsdl:part name="UploadFileResponseMessage" element="UploadFileResponseMessage"/>
	</wsdl:message>
	<wsdl:portType name="uploadFilePtt">
		<wsdl:operation name="uploadFile">
			<wsdl:input message="tns:uploadFileRequest"/>
			<wsdl:output message="tns:uploadFileResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="uploadFileBind" type="tns:uploadFilePtt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="uploadFile">
			<soap:operation style="document" soapAction="uploadFile"/>
			<wsdl:input>
				<mime:multipartRelated>  
					<mime:part>
						<soap:body parts="UploadFileRequestMessage" use="literal" namespace="http://www.sita.aero/WSDL/AttachmentV1"/>
					</mime:part>
					<mime:part>
						<mime:content part="UploadFileContent" type="base64Binary"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.sita.aero/WSDL/AttachmentV1"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>