ebonding_osb_app/CISCO_INC/Resources/WSDLs/CiscoOutboundCallService.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions targetNamespace="urn:ws.solvedirect.com/webservices/custom" name="CallServiceService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ws.solvedirect.com/webservices/custom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="urn:ws.solvedirect.com/webservices/custom" schemaLocation="../Schemas/CallService.xsd"/>
</xsd:schema>
</types>
<message name="getCall">
<part name="parameters" element="tns:getCall"/>
</message>
<message name="getCallResponse">
<part name="parameters" element="tns:getCallResponse"/>
</message>
<message name="SDWebServiceException">
<part name="fault" element="tns:SDWebServiceException"/>
</message>
<message name="getCalls">
<part name="parameters" element="tns:getCalls"/>
</message>
<message name="getCallsResponse">
<part name="parameters" element="tns:getCallsResponse"/>
</message>
<message name="putCall">
<part name="parameters" element="tns:putCall"/>
</message>
<message name="putCallResponse">
<part name="parameters" element="tns:putCallResponse"/>
</message>
<portType name="CallService">
<operation name="getCall">
<input wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:getCallRequest" message="tns:getCall"/>
<output wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:getCallResponse" message="tns:getCallResponse"/>
<fault message="tns:SDWebServiceException" name="SDWebServiceException" wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:getCall:Fault:SDWebServiceException"/>
</operation>
<operation name="getCalls">
<input wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:getCallsRequest" message="tns:getCalls"/>
<output wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:getCallsResponse" message="tns:getCallsResponse"/>
<fault message="tns:SDWebServiceException" name="SDWebServiceException" wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:getCalls:Fault:SDWebServiceException"/>
</operation>
<operation name="putCall">
<input wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:putCallRequest" message="tns:putCall"/>
<output wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:putCallResponse" message="tns:putCallResponse"/>
<fault message="tns:SDWebServiceException" name="SDWebServiceException" wsam:Action="urn:ws.solvedirect.com/webservices/custom:CallService:putCall:Fault:SDWebServiceException"/>
</operation>
</portType>
<binding name="CallServicePortBinding" type="tns:CallService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SDWebServiceException">
<soap:fault name="SDWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCalls">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SDWebServiceException">
<soap:fault name="SDWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="putCall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SDWebServiceException">
<soap:fault name="SDWebServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CallServiceService">
<port name="CallServicePort" binding="tns:CallServicePortBinding">
<soap:address location="https://sdcall-sta.solvedirect.com:443/ws/soap/custom/CallService"/>
</port>
</service>
</definitions>