ebonding_osb_app/CISCO_INC/Resources/WSDLs/CiscoInboundIncSync.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import/>
      <s:element name="ProcessIncident">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="incidentData"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessIncidentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="ProcessIncidentResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified">
      <s:element name="incidentData" type="INCIDENT"/>
      <s:complexType name="INCIDENT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TRANSACTION_TYPE">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:minLength value="1"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="SESSION_ID" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="INCIDENT_NUMBER" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="SUPPLIER_EXTERNAL_REFERENCE" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="INTERFACE_ID">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:minLength value="1"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AFFECTED_CONTACT" nillable="true">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:minLength value="1"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="INCIDENT_CATEGORY" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="SERVICE_CI" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="HARDWARE_CI" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="REPORT_METHOD" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="CUSTOMER_EXTERNAL_REFERENCE" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="REC_TYPE">
            <s:simpleType>
              <s:restriction base="s:string">
                <s:minLength value="1"/>
              </s:restriction>
            </s:simpleType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="STATUS" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="GROUP" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="DESCRIPTION" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="SUMMARY" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="IMPACT" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="URGENCY" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="PRIORITY" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ESTIMATED_ARRIVAL_TIME" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ACTUAL_TECH_ARRIVAL" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ACTUAL_FIX_TIME" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="COMMENTS" nillable="true" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TIME_SPENT" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="TRAVEL_TIME" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="RESOLUTION_CODE" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="CAUSE_CODE" nillable="true" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ACTLOG_DESC" nillable="true" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SD_OWNER_GROUP" nillable="true" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SUPPORT_ORGANIZATION" nillable="true" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NEW_GROUP" nillable="true" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NEW_ASSIGNEE" nillable="true" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TIME_ON_SITE" nillable="true" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AFFECTED_TRANSACTION" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ERROR_CODE" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ERROR_DESCRIPTION" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessIncidentResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESCRIPTION" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESULT">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="LIST">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="ATTRIBUTES">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ATTR_NAME"
                                         type="s:string"/>
                              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ATTR_VALUE"
                                         type="s:string"/>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                      <s:attribute name="Tmp" type="s:string"/>
                    </s:complexType>
                  </s:element>
                </s:sequence>
                <s:attribute name="Tmp" type="s:string"/>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessIncidentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessIncident"/>
  </wsdl:message>
  <wsdl:message name="ProcessIncidentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessIncidentResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ProcessIncident">
      <wsdl:input message="tns:ProcessIncidentSoapIn"/>
      <wsdl:output message="tns:ProcessIncidentSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessIncident">
      <soap:operation soapAction="http://tempuri.org/ProcessIncident" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>