ebonding_osb_app/IER_INC/Resources/WSDL/IERInboundIncSyncPS.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://net4.essintial.com/SitaTicket_1.xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://tempuri.org/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <wsdl:types>
     <xs:schema elementFormDefault="qualified">
      <xs:element name="CallData">
        <xs:complexType>
         <xs:sequence>
        <xs:element type="xs:string" name="Contracts.Name"/>
        <xs:element type="xs:string" name="ContractElements.Name"/>
        <xs:element type="xs:string" name="Calls.CustCallID"/>
        <xs:element type="xs:string" name="Calls.SPCallID"/>
        <xs:element type="xs:string" name="Calls.MainCompName"/>
        <xs:element type="xs:string" name="Severities.Name"/>
        <xs:element type="xs:string" name="Calls.ShortDescription"/>
        <xs:element type="xs:string" name="Calls.Description" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:string" name="Calls.Remarks"/>
        <xs:element type="xs:string" name="Calls.CHDLocation"/>
        <xs:element type="xs:string" name="Calls.SubCompName"/>
        <xs:element type="xs:string" name="Calls.CallerRoom"/>
        <xs:element type="xs:string" name="CallStates.Name"/>
        <xs:element type="xs:string" name="Calls.CCPRoom"/>
        <xs:element type="xs:string" name="Calls.CallOpenTime"/>
        <xs:element type="xs:string" name="ExtTableValues.Field1"/>
        <xs:element type="xs:string" name="ExtTableValues.Field2"/>
        <xs:element type="xs:string" name="ExtTableValues.Field3"/>
      </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    
  </wsdl:types>
  <wsdl:message name="ProcessIncidentSoapIn">
    <wsdl:part name="parameters" element="CallData"/>
  </wsdl:message>
  <wsdl:message name="ProcessIncidentSoapOut">
    <wsdl:part name="parameters" element="CallData"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ProcessIncident">
      <wsdl:input message="tns:ProcessIncidentSoapIn"/>
      <wsdl:output message="tns:ProcessIncidentSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessIncident">
      <soap:operation soapAction="http://tempuri.org/ProcessIncident" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>