ebonding_osb_app/BA_INC/Resources/WSDLs/AssystSITAWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sita.ba.integration.axiossystems.com/" targetNamespace="http://sita.ba.integration.axiossystems.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://sita.ba.integration.axiossystems.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="RESPONSE">
        <xs:sequence>
          <xs:element name="STATUS" type="xs:string">
            <xs:annotation>
              <xs:documentation>value is either SUCCESS or FAILURE</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SR_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITA_ID" nillable="true" type="xs:string" />
          <xs:element name="ERROR_DESCRIPTION" type="xs:string">
            <xs:annotation>
              <xs:documentation>filled only in the case of STATUS=FAILURE</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="RESPONSE" type="tns:RESPONSE" />
      <xs:element name="TRANSACTION" type="tns:TRANSACTION" />
      <xs:complexType name="TRANSACTION">
        <xs:sequence>
          <xs:element name="TRANSACTION_TYPE" type="xs:string" />
          <xs:element minOccurs="0" name="REC_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TRANSACTION_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SR_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EXTERNAL_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INTERFACE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUMMARY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRIORITY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GROUP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LOCATION" nillable="true" type="tns:LOC" />
          <xs:element minOccurs="0" name="CUSTOMER" nillable="true" type="tns:USER_INFO" />
          <xs:element minOccurs="0" name="USER_INFO" nillable="true" type="tns:USER_INFO" />
          <xs:element minOccurs="0" name="CI" nillable="true" type="tns:CI" />
          <xs:element minOccurs="0" name="PRIMARY_CI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATE_INFO" nillable="true" type="tns:UPDATE_INFO" />
          <xs:element minOccurs="0" name="SLA_VIOLATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ACT_LOG" nillable="true" type="tns:LOG_UPDATE" />
          <xs:element minOccurs="0" name="REPORT_TYPES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UPDATED_BY" nillable="true" type="tns:USER_INFO" />
          <xs:element minOccurs="0" name="NCC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IMPACT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URGENCY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPORT_METHOD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTOMER_LOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INITIAL_TIME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TIME_STAMP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OPEN_DATE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UPDATE_INFO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="UPDATE_FIELD" nillable="true" type="tns:UPDATE_FIELD" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UPDATE_FIELD">
        <xs:sequence>
          <xs:element minOccurs="0" name="FIELD_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIELD_VALUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="USER_INFO">
        <xs:sequence>
          <xs:element minOccurs="0" name="LAST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIRST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MIDDLE_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMAIL_ADDRESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PHONE_NUMBER" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CI">
        <xs:sequence>
          <xs:element minOccurs="0" name="ASSET_TAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ASSET_FAMILY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ASSET_CLASS" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LOC">
        <xs:sequence>
          <xs:element minOccurs="0" name="LOCATION_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CITY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COUNTRY_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZIP" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LOG_UPDATE">
        <xs:sequence>
          <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ACT_TYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="WriteDataMessageRequest">
    <wsdl:part name="WriteDataMessageRequest" element="tns:TRANSACTION" />
  </wsdl:message>
  <wsdl:message name="WriteDataMessageResponse">
    <wsdl:part name="WriteDataMessageResponse" element="tns:RESPONSE" />
  </wsdl:message>
  <wsdl:message name="ServerFaultMessage">
    <wsdl:part name="ServerFault" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="AxiosSITAWrite">
    <wsdl:operation name="itServicesDataMessage">
      <wsdl:input message="tns:WriteDataMessageRequest" />
      <wsdl:output message="tns:WriteDataMessageResponse" />
      <wsdl:fault name="ServerFault" message="tns:ServerFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AxiosSITAWriteServiceSoapBinding" type="tns:AxiosSITAWrite">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="itServicesDataMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="WriteDataMessageRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="ServerFault">
        <soap:fault use="literal" name="ServerFault" namespace="" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AxiosSITAWriteService">
    <wsdl:port name="AxiosSITAWriteServicePort" binding="tns:AxiosSITAWriteServiceSoapBinding">
      <soap:address location="http://localhost:9021/AxiosIntegrations/SITABridge" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>