ebonding_osb_app/BA_INC/Resources/WSDLs/InboundInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlMesg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessTransaction" />
  </wsdl:message>
  <wsdl:message name="ProcessTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessTransaction" />
  </wsdl:message>
  <wsdl:portType name="Assyst2TrilliumSoap">
    <wsdl:operation name="ProcessTransaction">
      <wsdl:input message="tns:ProcessTransactionSoapIn" />
      <wsdl:output message="tns:ProcessTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Assyst2TrilliumSoap" type="tns:Assyst2TrilliumSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessTransaction">
      <soap:operation soapAction="http://tempuri.org/ProcessTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Assyst2TrilliumSoap12" type="tns:Assyst2TrilliumSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessTransaction">
      <soap12:operation soapAction="http://tempuri.org/ProcessTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Assyst2Trillium">
    <wsdl:port name="Assyst2TrilliumSoap" binding="tns:Assyst2TrilliumSoap">
      <soap:address location="http://ebondingqa.sita.aero/BAinterface/InboundInterface.asmx" />
    </wsdl:port>
    <wsdl:port name="Assyst2TrilliumSoap12" binding="tns:Assyst2TrilliumSoap12">
      <soap12:address location="http://ebondingqa.sita.aero/BAinterface/InboundInterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>