ebonding_osb_app/FoundationDataSync/Resources/WSDLs/SNPublish/SNServicePublish.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.service-now.com/u_sync_services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.service-now.com/u_sync_services">
	<wsdl:types>
		<xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.service-now.com/u_sync_services">
			<xsd:element name="getKeys">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="import_set_run" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_row" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_set" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state_comment" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_row_error" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_table" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_transform_map" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="template_import_log" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_backup_services" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_business_owner" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_category" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_class" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_contract_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_disaster_recovery" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_family" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_inactive" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_interface_link" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_ci" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_resiliency_type" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_network_ops" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_portfolio" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_serial_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support1" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support2" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support3" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support_model" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_svc_status" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__encoded_query" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__limit" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__first_row" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__last_row" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getKeysResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="get">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="import_set_run" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_row" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_set" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state_comment" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_row_error" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_table" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_transform_map" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="template_import_log" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_backup_services" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_business_owner" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_category" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_class" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_contract_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_disaster_recovery" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_family" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_inactive" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_interface_link" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_ci" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_resiliency_type" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_network_ops" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_portfolio" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_serial_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support1" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support2" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support3" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support_model" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_svc_status" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRecords">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="import_set_run" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_row" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_set" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state_comment" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_row_error" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_table" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_transform_map" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="template_import_log" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_backup_services" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_business_owner" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_category" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_class" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_contract_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_disaster_recovery" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_family" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_inactive" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_interface_link" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_ci" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_resiliency_type" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_network_ops" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_portfolio" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_serial_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support1" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support2" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support3" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support_model" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_svc_status" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__use_view" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__encoded_query" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__limit" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__first_row" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__last_row" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__order_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__order_by_desc" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="__exclude_columns" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRecordsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="getRecordsResult">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element maxOccurs="1" minOccurs="0" name="import_set_run" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_row" type="xsd:integer"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_set" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state_comment" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_row_error" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_sys_id" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_table" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_transform_map" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="template_import_log" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_backup_services" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_business_owner" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_category" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_class" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_contract_id" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_org" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_description" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_disaster_recovery" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_family" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_inactive" type="xsd:integer"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_interface_link" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_location" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_location_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_ci" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_resiliency_type" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_model_name" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_model_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_network_ops" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_portfolio" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_serial_number" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_service_name" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_service_uuid" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_support1" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_support2" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_support3" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_support_model" type="xsd:string"/>
									<xsd:element maxOccurs="1" minOccurs="0" name="u_svc_status" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="update">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="import_set_run" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="template_import_log" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_backup_services" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_business_owner" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_category" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_class" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_contract_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_disaster_recovery" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_family" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_inactive" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_interface_link" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_ci" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_resiliency_type" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_network_ops" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_portfolio" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_serial_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support1" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support2" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support3" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support_model" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_svc_status" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="insert">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="import_set_run" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="template_import_log" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_backup_services" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_business_owner" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_category" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_class" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_contract_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_disaster_recovery" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_family" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_inactive" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_interface_link" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_ci" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_resiliency_type" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_network_ops" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_portfolio" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_serial_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support1" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support2" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support3" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support_model" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_svc_status" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="insertResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="table" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="display_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="display_value" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="status_message" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="error_message" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="map" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteMultiple">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="import_set_run" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_class_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_created_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_row" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_set" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_import_state_comment" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_mod_count" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_row_error" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_sys_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_target_table" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_transform_map" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_by" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="sys_updated_on" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="template_import_log" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_backup_services" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_business_owner" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_category" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_class" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_contract_id" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_customer_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_description" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_disaster_recovery" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_family" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_inactive" type="xsd:integer"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_interface_link" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_location_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_maintenance_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_manufacturer_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_ci" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_mcs_resiliency_type" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_model_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_network_ops" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_owner_org_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_portfolio" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_primary_cnt_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_sd_owner_group_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_serial_number" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_name" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_service_uuid" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support1" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support2" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support3" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_support_model" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="u_svc_status" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteMultipleResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteRecord">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="sys_id" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteRecordResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="count" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getKeysSoapIn">
		<wsdl:part name="u_sync_services" element="tns:getKeys"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSoapOut">
		<wsdl:part name="u_sync_services" element="tns:getResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRecordsSoapIn">
		<wsdl:part name="u_sync_services" element="tns:getRecords"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteMultipleSoapOut">
		<wsdl:part name="u_sync_services" element="tns:deleteMultipleResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="insertSoapIn">
		<wsdl:part name="u_sync_services" element="tns:insert"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateSoapOut">
		<wsdl:part name="u_sync_services" element="tns:updateResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRecordsSoapOut">
		<wsdl:part name="u_sync_services" element="tns:getRecordsResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="insertSoapOut">
		<wsdl:part name="u_sync_services" element="tns:insertResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteRecordSoapIn">
		<wsdl:part name="u_sync_services" element="tns:deleteRecord"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteMultipleSoapIn">
		<wsdl:part name="u_sync_services" element="tns:deleteMultiple"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteRecordSoapOut">
		<wsdl:part name="u_sync_services" element="tns:deleteRecordResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSoapIn">
		<wsdl:part name="u_sync_services" element="tns:get"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getKeysSoapOut">
		<wsdl:part name="u_sync_services" element="tns:getKeysResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateSoapIn">
		<wsdl:part name="u_sync_services" element="tns:update"> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceNowSoap">
		<wsdl:operation name="insert">
			<wsdl:input message="tns:insertSoapIn"> </wsdl:input>
			<wsdl:output message="tns:insertSoapOut"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdl:input message="tns:updateSoapIn"> </wsdl:input>
			<wsdl:output message="tns:updateSoapOut"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteMultiple">
			<wsdl:input message="tns:deleteMultipleSoapIn"> </wsdl:input>
			<wsdl:output message="tns:deleteMultipleSoapOut"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getKeys">
			<wsdl:input message="tns:getKeysSoapIn"> </wsdl:input>
			<wsdl:output message="tns:getKeysSoapOut"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteRecord">
			<wsdl:input message="tns:deleteRecordSoapIn"> </wsdl:input>
			<wsdl:output message="tns:deleteRecordSoapOut"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:getSoapIn"> </wsdl:input>
			<wsdl:output message="tns:getSoapOut"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRecords">
			<wsdl:input message="tns:getRecordsSoapIn"> </wsdl:input>
			<wsdl:output message="tns:getRecordsSoapOut"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="insert">
			<soap:operation soapAction="http://www.service-now.com/u_sync_services/insert" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="update">
			<soap:operation soapAction="http://www.service-now.com/u_sync_services/update" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteMultiple">
			<soap:operation soapAction="http://www.service-now.com/u_sync_services/deleteMultiple" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getKeys">
			<soap:operation soapAction="http://www.service-now.com/u_sync_services/getKeys" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteRecord">
			<soap:operation soapAction="http://www.service-now.com/u_sync_services/deleteRecord" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.service-now.com/u_sync_services/get" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRecords">
			<soap:operation soapAction="http://www.service-now.com/u_sync_services/getRecords" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceNow_u_sync_services">
		<wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
			<soap:address location="https://sitaitsmsdev.service-now.com/u_sync_services.do?SOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>