ebonding_osb_app/CISCO_INC/Resources/Schemas/CallService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="urn:ws.solvedirect.com/webservices/custom" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:ws.solvedirect.com/webservices/custom">

<xs:element name="CallData" type="tns:callData"/>

<xs:element name="Messages" type="tns:callsData"/>

<xs:element name="SDWebServiceException" type="tns:SDWebServiceException"/>

<xs:element name="getCall" type="tns:getCall"/>

<xs:element name="getCallResponse" type="tns:getCallResponse"/>

<xs:element name="getCalls" type="tns:getCalls"/>

<xs:element name="getCallsResponse" type="tns:getCallsResponse"/>

<xs:element name="putCall" type="tns:putCall"/>

<xs:element name="putCallResponse" type="tns:putCallResponse"/>

<xs:complexType name="putCall">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="CallData" type="tns:callData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callData">
<xs:sequence>
<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putCallResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SDWebServiceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCall">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCallResponse">
<xs:sequence>
<xs:element name="CallData" type="tns:callData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCalls">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCallsResponse">
<xs:sequence>
<xs:element name="Messages" type="tns:callsData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="callsData">
<xs:sequence>
<xs:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>