ebonding_osb_app/Essintial_INC/Resources/WSDLs/EssintialInboundIncSync.wsdl

<wsdl:definitions xmlns:tns="http://www.sita.aero/WSDL/EssintialInboundIncSyncV1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.sita.aero/WSDL/EssintialInboundIncSyncV1">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
               xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:s="http://net4.essintial.com/SitaTicket_1.xsd">
      <xs:import namespace="http://net4.essintial.com/SitaTicket_1.xsd"/>
      <xs:element name="CallData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="s:ServiceTicket"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
               targetNamespace="http://net4.essintial.com/SitaTicket_1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ServiceTicket">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="LocationCode" minOccurs="0" nillable="true"/>
            <xs:element type="xs:string" name="EndUserOrganization" minOccurs="0" nillable="true"/>
            <xs:element type="xs:string" name="AddressDetails" minOccurs="0"/>
            <xs:element type="xs:string" name="AddressCity" minOccurs="0"/>
            <xs:element type="xs:string" name="AddressState" minOccurs="0"/>
            <xs:element type="xs:string" name="AddressZip" minOccurs="0"/>
            <xs:element type="xs:string" name="AddressCountry" minOccurs="0"/>
            <xs:element type="xs:string" name="Priority" minOccurs="0"/>
            <xs:element type="xs:string" name="CustomerReference4" minOccurs="0"/>
            <xs:element type="xs:string" name="CustomerReference3" minOccurs="0"/>
            <xs:element type="xs:string" name="VORDID" minOccurs="0"/>
            <xs:element type="xs:string" name="Comments" minOccurs="0"/>
            <xs:element type="xs:string" name="CustomerReference2" minOccurs="0"/>
            <xs:element type="xs:string" name="StatusCode" minOccurs="0"/>
            <xs:element type="xs:string" name="ReceivedMethod" minOccurs="0"/>
            <xs:element type="xs:dateTime" name="CustomerReceivedDate" minOccurs="0"/>
            <xs:element type="xs:dateTime" name="ScheduledDS" minOccurs="0"/>
            <xs:element type="xs:dateTime" name="TechOnSite" minOccurs="0"/>
            <xs:element type="xs:dateTime" name="TechCheckedOut" minOccurs="0"/>
            <xs:element type="xs:string" name="TotalLaborTime" minOccurs="0"/>
            <xs:element type="xs:string" name="TotalTravelTime" minOccurs="0"/>
            <xs:element type="xs:string" name="FinalAction" minOccurs="0"/>
            <xs:element type="xs:string" name="CustomerName" minOccurs="0"/>
            <xs:element type="xs:string" name="Notes" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute type="xs:string" name="Version"/>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ProcessIncidentSoapIn">
    <wsdl:part name="parameters" element="CallData"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ProcessIncident">
      <wsdl:input message="tns:ProcessIncidentSoapIn"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessIncident">
      <soap:operation soapAction="ServiceSoap" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>